<div id="<%= dom_id question %>">
  <p>
    <strong>Seller:</strong>
    <%= question.seller_id %>
  </p>

  <p>
    <strong>Question:</strong>
    <%= question.question %>
  </p>

  <p>
    <strong>Reply:</strong>
    <%= question.reply %>
  </p>

</div>
