<p style="color: green"><%= notice %></p>

<%= render @question %>

<div>
  <%= link_to "Torna indietro", "/insertion/"+$insertion_id.to_s %>
  <%= button_to "Elimina la domanda", @question, method: :delete %>
</div>
