<%# * DONE %>
<div class="container-fluid d-flex justify-content-evenly py-3">
  <%= link_to root_path do %>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="#fe385c">
      <path d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z" />
    </svg>
  <% end %>
  <% categories.each do |category| %>
    <%= link_to home_path(category[0]) do %>
      <% case category[0] %>
        <% when "accessories" %>
          <svg xmlns="http://www.w3.org/2000/svg" width="32px" height="32px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
          <style type="text/css">
            .stone_een{fill:#0B1719;}
            .st0{fill:#0B1719;}
            svg {width:20px; height: 20px}
          </style>
          <path class="stone_een" d="M13,15.5c0,2.481-2.019,4.5-4.5,4.5C6.019,20,4,17.981,4,15.5C4,14.505,4,13,8.5,13S13,14.505,13,15.5z
            M32,11v1.172c0,0.796-0.316,1.559-0.879,2.121L31,14.414l0,1.086c0,4.135-3.364,7.5-7.5,7.5c-0.482,0-0.971-0.046-1.453-0.137
            C18.574,22.207,16,18.985,16,15.451c0,3.534-2.575,6.758-6.049,7.413C9.469,22.954,8.981,23,8.5,23C4.364,23,1,19.635,1,15.5
            l0-1.086l-0.122-0.122C0.316,13.73,0,12.967,0,12.172V11c0-0.552,0.448-1,1-1h7.5c2.414,0,4.201,0.414,5.441,1.264
            c0.688-0.131,1.387-0.197,2.084-0.197c0.687,0,1.371,0.064,2.041,0.192C19.307,10.413,21.092,10,23.5,10H31
            C31.552,10,32,10.448,32,11z M14,15.5c0-1.731-0.653-3.5-5.5-3.5S3,13.769,3,15.5C3,18.533,5.467,21,8.5,21S14,18.533,14,15.5z
            M29,15.5c0-1.731-0.653-3.5-5.5-3.5S18,13.769,18,15.5c0,3.033,2.467,5.5,5.5,5.5S29,18.533,29,15.5z M23.5,13
            C19,13,19,14.505,19,15.5c0,2.481,2.019,4.5,4.5,4.5s4.5-2.019,4.5-4.5C28,14.505,28,13,23.5,13z"/>
          </svg>
        <% when "beauty" %>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" style="width: 20px; height: 20px;" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
            <g><g><path d="M287.065,175.235v285.362c0,28.389,23.014,51.404,51.404,51.404h44.393c28.389,0,51.404-23.014,51.404-51.404V175.235 H287.065z"/></g><g>
            <g><g><polygon points="168.032,206.374 168.032,171.091 184.727,171.091 184.727,137.7 168.032,137.7 168.032,129.75 203.79,129.75 203.79,96.358 168.032,96.358 168.032,88.408 203.79,88.408 203.79,55.017 168.032,55.017 168.032,47.066 184.727,47.066 184.727,13.675 168.032,13.675 168.032,0 134.64,0 134.64,13.675 117.945,13.675 117.945,47.066 134.64,47.066 134.64,55.017 98.882,55.017 98.882,88.408 134.64,88.408 134.64,96.358 98.882,96.358 98.882,129.75 134.64,129.75 134.64,137.7 117.945,137.7 117.945,171.091 134.64,171.091 134.64,206.374 96.145,206.374 96.145,243.698 206.526,243.698 206 526,206.374"/></g></g>
            <g><g><path d="M77.736,277.089v183.507c0,28.389,23.014,51.404,51.404,51.404h44.393c28.389,0,51.404-23.014,51.404-51.404V277.089 H77.736z"/></g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        <% when "books" %>
          <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px; height: 20px;" viewBox="0 0 20 20" fill="currentColor">
            <path d="M9 4.804A7.968 7.968 0 005.5 4c-1.255 0-2.443.29-3.5.804v10A7.969 7.969 0 015.5 14c1.669 0 3.218.51 4.5 1.385A7.962 7.962 0 0114.5 14c1.255 0 2.443.29 3.5.804v-10A7.968 7.968 0 0014.5 4c-1.255 0-2.443.29-3.5.804V12a1 1 0 11-2 0V4.804z" />
          </svg>
        <% when "eletronics" %>
          <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px; height: 20px;" viewBox="0 0 20 20" fill="currentColor">
            <path d="M13 7H7v6h6V7z" />
            <path fill-rule="evenodd" d="M7 2a1 1 0 012 0v1h2V2a1 1 0 112 0v1h2a2 2 0 012 2v2h1a1 1 0 110 2h-1v2h1a1 1 0 110 2h-1v2a2 2 0 01-2 2h-2v1a1 1 0 11-2 0v-1H9v1a1 1 0 11-2 0v-1H5a2 2 0 01-2-2v-2H2a1 1 0 110-2h1V9H2a1 1 0 010-2h1V5a2 2 0 012-2h2V2zM5 5h10v10H5V5z" clip-rule="evenodd" />
          </svg>
        <% when "films" %>
          <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px; height: 20px;" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm3 2h6v4H7V5zm8 8v2h1v-2h-1zm-2-2H7v4h6v-4zm2 0h1V9h-1v2zm1-4V5h-1v2h1zM5 5v2H4V5h1zm0 4H4v2h1V9zm-1 4h1v2H4v-2z" clip-rule="evenodd" />
          </svg>
        <% when "games" %>
          <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px; height: 20px;" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 3.5a1.5 1.5 0 013 0V4a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-.5a1.5 1.5 0 000 3h.5a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-.5a1.5 1.5 0 00-3 0v.5a1 1 0 01-1 1H6a1 1 0 01-1-1v-3a1 1 0 00-1-1h-.5a1.5 1.5 0 010-3H4a1 1 0 001-1V6a1 1 0 011-1h3a1 1 0 001-1v-.5z" />
          </svg>
        <% when "healts" %>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 329.928 329.928" style="enable-background:new 0 0 329.928 329.928; width: 20px; height: 20px;" xml:space="preserve">
            <g id="XMLID_481_"><path id="XMLID_482_" d="M115.604,278.4c5.95,5.224,12.092,10.614,18.41,16.202c0.043,0.038,0.087,0.077,0.131,0.115l21.018,18.155 c2.816,2.433,6.311,3.649,9.806,3.649s6.991-1.217,9.807-3.649l21.014-18.155c0.044-0.038,0.087-0.076,0.13-0.114 c41.607-36.796,72.802-64.966,95.371-92.44c26.36-32.088,38.638-61.101,38.638-91.305c0-54.646-42.805-97.451-97.449-97.451	c-24.56,0-48.827,9.248-67.511,25.279c-18.689-16.032-42.956-25.279-67.517-25.279C42.806,13.406,0,56.212,0,110.857 C0,176.912,45.99,217.286,115.604,278.4z M104.964,134.965h39.999V94.964h40.001v40.001h40v40h-40v39.999h-40.001v-39.999h-39.999	V134.965z"/></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        <% when "musics" %>
          <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px; height: 20px;" viewBox="0 0 20 20" fill="currentColor">
            <path d="M18 3a1 1 0 00-1.196-.98l-10 2A1 1 0 006 5v9.114A4.369 4.369 0 005 14c-1.657 0-3 .895-3 2s1.343 2 3 2 3-.895 3-2V7.82l8-1.6v5.894A4.37 4.37 0 0015 12c-1.657 0-3 .895-3 2s1.343 2 3 2 3-.895 3-2V3z" />
          </svg>
        <% when "photos" %>
          <svg xmlns="http://www.w3.org/2000/svg" style="width: 20px; height: 20px;" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M4 5a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2h-1.586a1 1 0 01-.707-.293l-1.121-1.121A2 2 0 0011.172 3H8.828a2 2 0 00-1.414.586L6.293 4.707A1 1 0 015.586 5H4zm6 9a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
          </svg>
        <% when "sports" %>
          <svg style="width: 20px; height: 20px;" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20.0902 4.97063C20.5222 5.48824 20.8809 6.04633 21.1664 6.63118C21.0607 6.79685 20.9354 6.95368 20.7907 7.09839C19.9007 7.98846 18.5523 8.14085 17.5052 7.55557L20.0902 4.97063Z" fill="#212121"/>
            <path d="M19.0295 3.90997L16.4446 6.49494C15.8592 5.4479 16.0115 4.09942 16.9016 3.20931C17.0463 3.06461 17.2032 2.93941 17.3688 2.8337C17.9537 3.11915 18.5119 3.4779 19.0295 3.90997Z" fill="#212121"/>
            <path d="M20.5234 14.9626C21.9083 12.9769 22.319 10.5182 21.7556 8.25192C20.2749 9.64408 18.0399 9.77437 16.418 8.64278L15.3108 9.74998L20.5234 14.9626Z" fill="#212121"/>
            <path d="M15.3573 7.58214C14.2257 5.96025 14.3559 3.72526 15.7481 2.24448C13.4818 1.68116 11.0232 2.09192 9.0376 3.47675L14.2502 8.68932L15.3573 7.58214Z" fill="#212121"/>
            <path d="M13.1895 9.74998L7.88629 4.44676C6.9534 5.38913 6.29404 6.5004 5.9082 7.68151C7.8206 7.97602 10.3533 8.70394 12.4376 10.5019L13.1895 9.74998Z" fill="#212121"/>
            <path d="M11.7283 11.2112C11.9169 11.3712 12.1012 11.5405 12.2804 11.7197C12.4596 11.8989 12.629 12.0833 12.789 12.2718C14.4185 14.1919 15.0805 16.5474 15.3455 18.3453C15.4062 18.7573 15.4461 19.14 15.472 19.4815C15.4768 19.5448 15.4791 19.6077 15.4791 19.6698C15.479 21.0226 14.3599 22.0765 12.9815 21.972C11.0035 21.8219 7.64217 21.2028 5.21972 18.7804C2.79728 16.3579 2.17819 12.9967 2.02815 11.0186C2.02335 10.9552 2.02099 10.8924 2.021 10.8302C2.02112 9.47753 3.14023 8.42357 4.5186 8.52812C4.86011 8.55403 5.24286 8.59391 5.65488 8.65465C7.45279 8.91966 9.80823 9.58166 11.7283 11.2112ZM8.03033 13.4697C7.73744 13.1768 7.26256 13.1768 6.96967 13.4697C6.67678 13.7626 6.67678 14.2375 6.96967 14.5304L9.46967 17.0304C9.76256 17.3233 10.2374 17.3233 10.5303 17.0304C10.8232 16.7375 10.8232 16.2626 10.5303 15.9697L8.03033 13.4697Z" fill="#212121"/>
            <path d="M16.3186 18.092C16.0241 16.1796 15.2962 13.6469 13.4983 11.5625L14.2502 10.8106L19.5534 16.1139C18.611 17.0468 17.4997 17.7061 16.3186 18.092Z" fill="#212121"/>
          </svg>
        <% when "videogames" %>
          <svg version="1.1" id="Icons" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
          <style type="text/css">
            .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            svg {width:20px; height: 20px}
          </style>
          <path d="M27,4h-2c-0.6,0-1,0.4-1,1v4H7H5c-2.8,0-5,2.2-5,5v9c0,2.8,2.2,5,5,5h2h18c0.6,0,1-0.4,1-1v-4h1c2.8,0,5-2.2,5-5V9
            C32,6.2,29.8,4,27,4z M4.9,23.4c-0.1,0.1-0.1,0.2-0.2,0.3C4.5,23.9,4.3,24,4,24c-0.1,0-0.3,0-0.4-0.1c-0.1-0.1-0.2-0.1-0.3-0.2
            c-0.1-0.1-0.2-0.2-0.2-0.3C3,23.3,3,23.1,3,23c0-0.1,0-0.3,0.1-0.4c0.1-0.1,0.1-0.2,0.2-0.3c0.1-0.1,0.2-0.2,0.3-0.2
            C4,21.9,4.4,22,4.7,22.3c0.1,0.1,0.2,0.2,0.2,0.3C5,22.7,5,22.9,5,23C5,23.1,5,23.3,4.9,23.4z M24,22v4H8V11h16V22z M28.7,9.7
            C28.5,9.9,28.3,10,28,10c-0.3,0-0.5-0.1-0.7-0.3C27.1,9.5,27,9.3,27,9c0-0.1,0-0.3,0.1-0.4c0.1-0.1,0.1-0.2,0.2-0.3
            c0.4-0.4,1-0.4,1.4,0c0.1,0.1,0.2,0.2,0.2,0.3C29,8.7,29,8.9,29,9C29,9.3,28.9,9.5,28.7,9.7z"/>
          </svg>
      <% end %>
    <% end %>
  <% end %>
</div>