<html>
  <head>
    <title>Add Map</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="module" src="./index.js"></script>
    <style> 
        /**
        * @license
        * Copyright 2019 Google LLC. All Rights Reserved.
        * SPDX-License-Identifier: Apache-2.0
        */
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 50%;
            /* The width is the width of the web page */
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -100px 0 0 -175px;
        }
    </style>
  </head>
  <body>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
        var map;
        function initMap() {
            const myLatLng = { lat: gon.lat, lng: gon.lng };
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: gon.lat,  lng: gon.lng},
                zoom: 12
            });

            new google.maps.Marker({
              position: myLatLng,
              map,
              title: "Hello World!",
            });
        }
    </script>
    <!-- 
     The `defer` attribute causes the callback to execute after the full HTML
     document has been parsed. For non-blocking uses, avoiding race conditions,
     and consistent behavior across browsers, consider loading using Promises
     with https://www.npmjs.com/package/@googlemaps/js-api-loader.
    -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABJc3-uSJdVUa1YJbAua2NRnqZx3UxnlI&callback=initMap&v=weekly"
      defer
    ></script>
    <p style="color: green"><%= notice %></p>

    <h1>Domande</h1>
    <% if @questions.count == 0 %>
      <p> Non ci sono domande relative all'oggetto selezionato </p>
    <% else %>
      <div id="questions">
        <% @questions.each do |question| %>
          <strong>Domanda: </strong>
          <%= question.question%>
          <br>
          <strong>Risposta: </strong>
          <%= question.reply%>
          <br>
        <% end %>
      </div>
    <% end %>
    <p>
      <%= link_to "Fai una domanda per questo prodotto", new_question_path %>
    </p>
  </body> 
</html>