@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import "bootstrap";

/* Generic stylesheets */
* {
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

hr {
  background: #717171;
}

svg {
  margin: 0 auto;
}

input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  -webkit-appearance: none !important;
  box-shadow: none !important;
}

/* Bootstrap components */
.container-fluid {
  padding: 0 75px;
}

/* navbar logo */
.navbar-brand {
  svg {
    fill: #fe385c;
    height: 50px;
    width: 50px;
  }

  h4 {
    color: #fe385c;
    font-weight: 700;
  }
}

.form-control {
  resize: none;
  height: 100% !important;
}

/* seller button */
.seller-btn {
  background: initial;
  border: 0;
  border-radius: 15px;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: #e0e0e0;
  }
}

/* navbar user */
.dropdown-link {
  border: 1px solid #e0e0e0;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;

  svg {
    fill: #717171;
    height: 30px;
    width: 30px;
  }

  &:hover {
    box-shadow: 1px 1px 5px #e0e0e0;
    cursor: pointer;
  }
}

.dropdown-menu {
  border: 0;
  border-radius: 15px;

  span {
    background: transparent;
  }

  .dropdown-item:hover {
    background: #e0e0e0;
  }
}

/* login modal */
.modal-content {
  border-radius: 15px;
}

.modal-btn {
  width: 100%;
  border: 0;
  border-radius: 10px;
  background: #fe385c;
  color: #ffffff;
}

.other-btn {
  border: 2px solid #717171;
  border-radius: 10px;

  &:hover {
    background: #e0e0e0 !important;
  }
}

.login-form > .form-floating {
  & > input {
    &:focus {
      border: 2px solid #fe385c;
    }
  }

  & > input[type="email"] {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  & > input[type="password"] {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.registration-form > .form-floating {
  & > input {
    &:focus {
      border: 2px solid #fe385c;
    }
  }

  & > #user_first_name {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  & > input[type="password"] {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

.img-fluid {
  border-radius: 25px;
  transition: all 0.5s ease-in-out;

  &:hover {
    box-shadow: 1px 1px 5px $gray-500;
  }
}

.edit-btn {
  display: block;
  background: linear-gradient(to right, #219ebc, #4cc9f0);
  border: 0;
  border-radius: 25px;
  color: #ffffff !important;
}
