@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap");
@import "bootstrap";

/* color global variables */
$black-color: #000000;
$gray-color: #717171;
$light-gray-color: #e0e0e0;
$primary-color: #fe385c;
$white-color: #ffffff;

/* font global variables */
$font-family: "Montserrat", sans-serif;
$fs-13: 13px;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
$fw-800: 800;

/* transition global variable */
$transition: all 0.5s ease-in-out;

/* generic stylesheet */
* {
  border: none;
  box-sizing: border-box;
  color: $black-color;
  font-family: $font-family;
  font-weight: $fw-500;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: $transition;
}

a {
  text-decoration: none;
}

body {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

hr {
  background: $gray-color;
  margin: 0;
}

svg {
  display: block;
  margin: 0 auto;
}

input,
select,
textarea,
.form-control {
  &:focus {
    border: 2px solid $primary-color;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
  }
}

/* container-fluid stylesheet */
.container-fluid {
  padding: 0 75px;
}

/* navbar stylesheet */
.navbar-brand {
  h4 {
    color: $primary-color;
    font-weight: $fw-600;
  }

  svg {
    fill: $primary-color;
    height: 50px;
    width: 50px;
  }
}

.search-form {
  align-items: center;
  display: flex;
  position: relative;

  button {
    background: $primary-color;
    border-radius: 25px;
    height: 30px;
    left: 265px;
    padding: 5px;
    position: absolute;
    width: 30px;

    svg {
      fill: $white-color;
    }
  }

  input {
    border: 1px solid #e0e0e0;
    border-radius: 25px;
    padding: 8px;
    transition: none;
    width: 300px;

    &:focus {
      border: 2px solid $primary-color;
    }
  }
}

.seller-btn {
  align-items: center;
  display: flex;

  button {
    border: none;
    border-radius: 25px;
    background: transparent;
    font-size: $fs-13;
    padding: 5px;

    &:hover {
      background: $light-gray-color;
    }
  }
}

.dropdown-link {
  border: 1px solid $light-gray-color;
  border-radius: 25px;

  svg {
    fill: $primary-color;
    height: 30px;
    width: 30px;
  }

  &:hover {
    box-shadow: 1px 1px 5px $light-gray-color;
    cursor: pointer;
  }
}

.dropdown-item {
  span {
    font-size: 12px;
  }

  &:hover {
    background: $light-gray-color;
  }
}

/* sign_in, sign_up stylesheets */
.modal-form {
  .form-floating {
    &:nth-child(2) {
      .form-control {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
      }
    }

    &:nth-last-child(2) {
      .form-control {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
      }
    }
  }
}

.modal-btn {
  background: $primary-color;
  border: 0;
  color: $white-color;
}

.other-btn {
  align-items: center;
  background: transparent;
  border: 1px solid $black-color;
  display: flex;
  justify-content: center;
  margin: 5px 0;

  svg {
    margin: 0 5px;
  }

  &:hover {
    background: $gray-500;
  }
}

.modal-btn,
.other-btn {
  border-radius: 25px;
  padding: 10px 15px;
  width: 100%;
}

/* carousel stylesheet */
.carousel-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 100%;
}

.carousel-content {
  background: $light-gray-color;
  border-radius: 25px;
  line-height: normal;
  padding: 15px 20px;
  text-align: center;

  a {
    font-size: 12px;

    span {
      color: $primary-color;
      font-weight: $fw-700;
    }
  }

  h2 {
    color: $primary-color;
  }

  h2,
  span {
    font-weight: $fw-800;
  }
}

.carousel-image {
  height: 250px;
  object-fit: contain;
  margin: 0 5px;
  width: 250px;
}

/* insertion stylesheet */
.insertion-image {
  display: block;
  height: 250px;
  margin: 0 auto;
  object-fit: contain;
  padding: 10px;
  width: 250px;
}

.card-body {
  background: $light-gray-color;
  line-height: normal;

  a {
    color: $primary-color;
    font-weight: $fw-700;
  }

  div {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  a,
  span {
    font-size: 12px;
  }
}

.card-interaction {
  margin-top: 10px;

  button {
    background: transparent;
    border: none;
  }
}

/* profile stylesheet */
.profile-container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;

  span {
    font-size: 12px;
    font-weight: $fw-600;
  }
}

.insertion-section {
  align-items: center;
  display: flex;

  button {
    background: transparent;
    border: none;
    margin-left: 5px;
  }

  svg {
    fill: $primary-color;
  }
}

.insertion-features {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;

  button {
    background: transparent;
    border: none;
    margin-left: 5px;

    span {
      font-size: 12px;
      font-weight: $fw-700;
    }
  }

  svg {
    fill: $primary-color;
  }
}

.review-container {
  text-align: center;
}

// .form-control {
//   resize: none;
//   height: 100% !important;
// }

// /* cart */
// .cart-container {
//   align-items: center;
//   display: flex;
//   justify-content: space-between;

//   .img-fluid {
//     height: 150px;
//     width: 150px;
//   }

//   button {
//     border: 0;
//     border-radius: 25px;
//   }
// }

// /* review card */
// .review-card {
//   align-items: center;
//   border: 1px solid #e0e0e0;
//   border-radius: 25px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   padding: 30px 20px;
//   transition: all 0.5s ease-in-out;

//   &:hover {
//     box-shadow: 1px 1px 5px #e0e0e0;
//   }
// }

// /* insertion form */
// .form {
//   .form-floating > .form-control {
//     &:focus {
//       border: 2px solid $primary-color !important;
//     }
//   }
// }

// /* maps */
// #map {
//   height: 600px;
//   width: 100%;
// }

// /* search form */
// .search-form {
//   align-items: center;
//   display: flex;
//   gap: 5px;

//   input[type="submit"] {
//     background: $primary-color;
//     border-radius: 25px;
//     color: #ffffff;
//     padding: 5px 10px;
//   }

//   input {
//     border: 1px solid #e0e0e0;
//     border-radius: 25px;
//     padding: 5px 10px;

//     &:focus {
//       border: 2px solid $primary-color;
//     }
//   }
// }

// /* meeting container */
// .meeting-container {
//   .img-fluid {
//     width: 200px;
//   }
// }
